<footer class="mt-20 px-20 pt-8 border-t">
  <div class="flex justify-between">
    <div>
      <span class="text-white mr-2">Elias</span>
      <span>elias&#64;elias-dev.ml</span>
    </div>
    <h5 class="pr-6 text-white">Media</h5>
  </div>
  <div class="flex justify-between">
    <div>
      <span class="text-white mr-2">Web designer and front-end developer</span>
      <span>elias&#64;elias-dev.ml</span>
    </div>
    <div class="flex gap-2">
      <img src="icons/Github.svg">
      <img src="icons/Figma.svg">
      <img src="icons/Discord.svg">
    </div>
  </div>

  <div class="text-center mt-10 mb-3">
    <small>
      © Copyright 2022. Made by Elias
    </small>
  </div>
</footer>
