<section-label navigateId="skills" [hasLine]="true" title="skills" />
<!--   Pole   -->
<div class="flex justify-between">
  <div class="px-4">
    <img src="imgs/skill-l.svg">
  </div>
  <div class="flex-1">
    <div class="flex flex-row-reverse flex-wrap gap-2">
      @for (item of skillsData; track item) {
        <div class="border w-[200px] h-max">
          <h6 class="px-2 text-white border-b border-secondary">{{ item.title }}</h6>
          <div class="flex flex-wrap h-max">
            @for (child of item.items; track child) {
              <span class="px-2 me-2">{{ child }}</span>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
