<!--  About-me   -->
<section-label navigateId="about-me" [hasLine]="true" title="about-me"/>
<!--   Pole   -->
<div class="flex justify-between">
  <div class="flex-1 px-2">
    <p>Hello, i'm Elias!</p>
    <p class="my-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque eligendi exercitationem optio, porro veniam.</p>
    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto, atque blanditiis cupiditate esse facilis labore libero nobis praesentium repellendus repudiandae sed, vero. Doloribus earum, eligendi excepturi exercitationem odio voluptate.</p>
    <button-c value="Read more ->" />
  </div>
  <div class="flex-1 flex justify-end">
    <img width="300" src="imgs/about-me-r.svg" alt="about me img">
  </div>
</div>
