<!--  Contact   -->
<section-label navigateId="contacts" [hasLine]="true" title="contacts" />
<!--   Pole   -->
<div class="flex justify-between">
  <div class="flex-1 px-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ex harum iure natus, neque nobis quo quod sapiente veritatis vitae.</p>
  </div>
  <div class="flex-1 flex justify-end">
    <div class="p-3 border">
      <div class="text-white">Message me her</div>
      <div class="pl-1">
        <div class="flex">
          <img width="25" src="icons/Discord.svg">
          <span class="p-1">!Elias#3519</span>
        </div>
        <small class="flex">
          <img width="25" src="icons/Email.svg">
          <span class="p-1">elias&#64;elias.me</span>
        </small>
      </div>
    </div>
  </div>
</div>
